@import url(https://db.onlinewebfonts.com/c/a7fcb1becc12274d5b761b1d895f8aa9?family=Minecraft+Ten);

:root{
    --darkbg: #1e1e1e;
    --bg: #303030;
    --btn: #008c45;
    --realmbg: #3a3a3a;
    --realmbutton: #46288e;
}

body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2rem;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: -0.5px;
}